on: [push]
name: Run Test Cases
jobs:
  test:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python_version: ['2.7', '3.4', '3.5', '3.6', '3.7', '3.8', '3.9']
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov requests scrutinizer-ocular codecov
      - name: Run cases
        env:
          QINIU_ACCESS_KEY: ${{ secrets.QINIU_ACCESS_KEY }}
          QINIU_SECRET_KEY: ${{ secrets.QINIU_SECRET_KEY }}
          QINIU_TEST_BUCKET: ${{ secrets.QINIU_TEST_BUCKET }}
          QINIU_TEST_DOMAIN: ${{ secrets.QINIU_TEST_DOMAIN }}
          QINIU_TEST_ENV: "travis"
          PYTHONPATH: "$PYTHONPATH:."
        run: |
          set -e
          flake8 --show-source --max-line-length=160 .
          py.test --cov qiniu
          ocular --data-file .coverage
          coverage run test_qiniu.py
          codecov
          echo 'test'
